{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Start service Area -->
<section class="service-area section-gap1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-service d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-eye"></span>
					</div>
					<div class="details">
						<a href="#">
							<h4>Vision</h4>
						</a>
						<p>
							To help solve Challenges pertaining to youth
							development mount students.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-service d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-license"></span>
					</div>
					<div class="details">
						<a href="#">
							<h4>Mision</h4>
						</a>
						<p>
							Using our members to create awarness on targeted Challenges
							amoung students and help improve thier educational development.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-service d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-pencil"></span>
					</div>
					<div class="details">
						<a href="#">
							<h4>Slogan</h4>
						</a>
						<p>
							Our Youth Our Future
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End service Area -->

<!-- Start info Area -->
<section class="info-area section-gap1 relative">
	<div class="container">
		<div class="row align-items-center justify-content-end">
			<div class="col-lg-6 no-padding info-right">
				<h1>
					Who we are
				</h1>
				<p>
					inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
					standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the
					job is beyond reproach.
				</p>
				<div class="row no-gutters">
					<div class="single-services col">
						<span class="lnr lnr-diamond"></span>
						<a href="#">
							<h4>Dedicated</h4>
						</a>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology.
						</p>
					</div>
					<div class="single-services col">
						<span class="lnr lnr-phone"></span>
						<a href="#">
							<h4>Great Support</h4>
						</a>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End info Area -->

<!-- Start feedback Area -->
<section class="feedback-area section-gap1" id="feedback">
	<div class="container">
		<div class="row justify-content-center">
			
			</div>
		</div>
		<div class="row feedback-contents justify-content-between align-items-center">
			<div class="col-lg-6 feedback-left">
				<div class="mn-accordion" id="accordion">
					<!--Accordion item-->
					<div class="accordion-item">
						<div class="accordion-heading">
							<h3>Vision</h3>
							<div class="icon">
								<i class="lnr lnr-chevron-right"></i>
							</div>
						</div>
						<div class="accordion-content">
							<p>To help solve Challenges pertaining to youth
								development mount students.</p>
						</div>
					</div>
					<!--Accordion item-->
					<!--Accordion item-->
					<div class="accordion-item">
						<div class="accordion-heading">
							<h3>Mission</h3>
							<div class="icon">
								<i class="lnr lnr-chevron-right"></i>
							</div>
						</div>
						<div class="accordion-content">
							<p>	Using our members to create awarness on targeted Challenges
								amoung students and help improve thier educational development.</p>
						</div>
					</div>
					<!--Accordion item-->
					<!--Accordion item-->
					<div class="accordion-item">
						<div class="accordion-heading">
							<h3>Slogan</h3>
							<div class="icon">
								<i class="lnr lnr-chevron-right"></i>
							</div>
						</div>
						<div class="accordion-content">
							<p> Our Youth Our Future </p>
						</div>
					</div>
					<!--Accordion item-->
					<!--Accordion item-->
					<div class="accordion-item">
						<div class="accordion-heading">
							<h3>Logo</h3>
							<div class="icon">
								<i class="lnr lnr-chevron-right"></i>
							</div>
						</div>
						<div class="accordion-content">
							<p class="text-justify">For many of us, our very first experience of learning about the celestial bodies begins
								when we saw our first full moon in the sky. It is truly a magnificent view even to the
								naked eye. If the night is clear, you can see amazing detail of the lunar surface just
								star gazing on in your back yard.</p>
						</div>
					</div>
					<!--Accordion item-->
				</div>
			</div>
			<div class="col-lg-5 relative d-flex justify-content-center align-items-center">
				<div class="">
					<img src="{% static 'img/logo1.png' %}" alt="not found">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End feedback Area -->

{% endblock %}