{% extends 'base.html' %}
{% block title %} Be a Member {% endblock %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="bg-gray p-2 pt-5 pb-5">
                <h2 class="text-center">Become A Member</h2>
                <br>
                <form method="POST" action="{% url 'be_a_member' %}?next=/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ member_form | crispy }}
                    <p><input class="btn btn-dark btn-large" type="submit" value="Submit"> </p>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}