{% extends 'base.html' %}
{% block title %} Create profile {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br>
            <h2 class="text-center">Complete Registration</h2>
            <div class="bg-gray p-2 pt-5 pb-5">
                <form method="POST" action="{% url 'create_profile' %}?next=/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ create_user_form | crispy }}
                    <p><input class="btn btn-dark btn-large" type="submit" value="Create"> </p>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}