{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="bg-gray p-2 pt-5 pb-5">
                <h2 class="text-center">Log In</h2>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <p><input class="btn btn-primary btn-large" type="submit" value="Enter"> </p>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}