{% extends 'base.html' %}
{% block title %} LOGIN {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form p-2 pt-1 mt-3 mb-5">
                <h2 class="text-center">Log In</h2>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-dark btn-block btn-lg" type="submit" value="Login"> 
                        <i class="fa fa-lock"></i> Login </button>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}